<!-- Footer 5 -->

<footer class="footer_5 bg-light pt-80 pb-40">
	<div class="container px-xl-0">
		<div class="row">
			<div class="col-lg-3 col-md-6 order-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<div class="row">
					<div class="col-12">
						<a href="#" class="mb-30 logo link color-main">Startup 3</a>
					</div>
					<div class="col-xl-9 color-heading text-adaptive">
						Be sure to take a look at 
						our <a href="#" class="link color-heading">Terms of Use</a> and 
						<a href="#" class="link color-heading">Privacy Policy</a>
					</div>
				</div>
			</div>
			<div class="col-xl-1 d-none d-xl-block"></div>
			<div class="mt-40 mt-lg-0 col-lg-4 order-2 order-lg-0">
				<div class="row">
					<div class="col-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
						<div class="mb-30 f-18 semibold title">About</div>
						<div class="mb-10"><a href="#" class="link color-main">About Us</a></div>
						<div class="mb-10"><a href="#" class="link color-main">Blog</a></div>
						<div class="mb-10"><a href="#" class="link color-main">Team</a></div>
						<div class="mb-10"><a href="#" class="link color-main">Career</a></div>
						<div class="mb-10"><a href="#" class="link color-main">Contact</a></div>
					</div>
					<div class="col-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
						<div class="mb-30 f-18 semibold title">Company</div>
						<div class="mb-10"><a href="#" class="link color-main">Privacy</a></div>
						<div class="mb-10"><a href="#" class="link color-main">Support</a></div>
						<div class="mb-10"><a href="#" class="link color-main">Help Desk</a></div>
						<div class="mb-10"><a href="#" class="link color-main">FAQ</a></div>
					</div>
				</div>
			</div>
			<div class="mt-40 mt-md-0 col-lg-4 col-md-6 order-1 order-lg-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
				<div class="mb-30 f-18 semibold title">Subscribe our Newsletters</div>
				<form method="POST" action="form-handler.php" class="row no-gutters">
					<div class="col-md-7 col-sm-6 col-7">
						<input type="email" name="email" placeholder="Your email" class="w-full input sm border-gray focus-action-1 color-heading placeholder-heading" required />
					</div>
					<div class="col-md-5 col-sm-4 col-5">
						<div class="ml-10">
							<button class="btn sm action-1 w-full f-16">Subscribe</button>
						</div>
					</div>
				</form>
				<div class="mt-45 socials">
					<a href="#" class="f-18 link color-main mr-30"><i class="fab fa-twitter"></i></a>
					<a href="#" class="f-18 link color-main mr-30"><i class="fab fa-facebook-square"></i></a>
					<a href="#" class="f-18 link color-main mr-30"><i class="fab fa-google-plus-g"></i></a>
				</div>
			</div>
		</div>
		<div class="mt-110 mb-35 hr h-2 bg-gray op-5" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0"></div>
		<div class="color-heading text-center text-adaptive" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
			Startup Framework contains components and complex blocks 
			which can easily be integrated into almost any design. 
		</div>
	</div>
</footer>
<!-- forms alerts -->
<div class="alert alert-success alert-dismissible alert-form-success" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Thanks for your message!
</div>
<div class="alert alert-warning alert-dismissible alert-form-check-fields" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Please, fill in required fields.
</div>
<div class="alert alert-danger alert-dismissible alert-form-error" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	An error occurred while sending data :(
</div>
<!-- popup with video -->
<div class="overlay"></div>

<div class="video_popup">
	<a class="close">
		<img srcset="i/close_white@2x.png 2x" src="i/close_white.png" alt="" />
	</a>
	<div class="d-flex align-items-center justify-content-center w-full h-full iframe_container"></div>
</div>
