.menu-spacer {
  flex: 1 1 auto;
}
.main_menu{
  height: 50px;
}
.main_menu_mid{
  width: 60%;
  float: left;
  height: 50px;
}
.main_menu_rt{
  width: 20%;
  float: left;
  height: 50px;
}
.main_menu_lt{
  width: 20%;
  float: left;
  height: 50px;
}
