
<div class="container px-xl-0">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-8">
            <div class="mb-3 mb-lg-5 logo d-block d-xl-none text-center text-lg-left logo_mobile">Startup 3</div>
        </div>
    </div>
    <div class="row justify-content-lg-between justify-content-center">
        <div class="col-xl-7 col-lg-6 col-md-8 text-center text-lg-left">
            <h1 class="small" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">A high-quality solution for those who want a beautiful startup website quickly.</h1>
            <form class="text-center mt-75" action="form-handler.php" method="POST" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                <div class="row">
                    <div class="col-xl-9">
                        <input type="email" name="email" class="mb-30 input w-full lg border-gray focus-heading color-heading placeholder-heading" placeholder="Your email" required />
                        <input type="password" name="password" class="mb-30 input w-full lg border-gray focus-heading color-heading placeholder-heading" placeholder="Your password" required />
                        <button class="btn w-full lg action-1">Sign In</button>
                        <div class="mt-15 color-heading text-adaptive">By signing up, you agree to the <a class="link color-heading" href="#">Terms of Service</a></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-8 mt-5 mt-lg-0 pt-10 right_block">
            <div class="w-full h-265 radius10 video" data-ratio="16/9">
                <div class="radius10 poster" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
                    <img srcset="i/header_3_video_poster@2x.jpg 2x" src="i/header_3_video_poster.jpg" alt="" />
                    <div class="play red"><i class="fas fa-play"></i></div>
                </div>
                <video controls>
                    <source src="video/video.mp4" type="video/mp4">
                </video>
            </div>
            <div class="row">
                <div class="col-xl-10 text-center text-lg-left" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
                    <div class="f-18 color-heading medium text-adaptive mt-30">
                        We made it so beautiful and simple. It 
                        combines landings, pages, blogs and 
                        shop screens. It is definitely the tool you 
                        need in your collection! 
                    </div>
                </div>
            </div>
        </div>
    </div>		
</div>